<configuration>
    <appender name="stdout_json" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LogstashEncoder" />
    </appender>
    <logger name="io.micronaut.configuration.kafka.processor" level="DEBUG" />
    <root level="info">
        <appender-ref ref="stdout_json" />
    </root>
</configuration>
